@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(54, 0, 104);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .card {
  position: absolute;
  height: 100%;
  transform : rotate(10deg)
} */